<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is the home page 1+ 2</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= ["hello","Moni","Namaste"][2] %></h3>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptates
      cumque facilis neque perferendis dolore ab, saepe magni voluptatum natus?
      Sit ipsam, eligendi architecto quod sequi ullam in exercitationem. Neque.
    </p>
    <button>Click Me</button>
  </body>
</html>
